<section class="section">
  <p class="menu-label"># Comments:</p>
  <%= for comment <- @post.comments do %>
    <tr>
      <td><%= comment.user_name %></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
</section>
