<section class="section">
  <div class="content">
    <p class="menu-label"># POST[EDIT]:</p>
  </div>
</section>
<section class="section">
  <%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>
  <br>
  <%= link "Back", to: post_path(@conn, :index) %>
</section>

